/*
Name: Cort Auger
Number: 100862580
Course: INFT 2202
Date: 2/9/2024
Description: style.css file for CSS lab 1
 */

/* Set background image */
body {
    background-image: url(../images/AbstractBkgd.jpg);
    background-size: cover;
}

/* Centre the headings */
h1, h2, h3, h4 {
    text-align: center;
}

/* Change h5 colour */
h5 {
    color: ghostwhite;
}

/* Set up paragraph text*/
p {
    text-align: center;
    font-size: 16pt;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Keep images the same size*/
img {
    width: auto; 
    height: 200px; 
}

/* Center images horizontally */
.image-container {
    text-align: center;
}

/* Add space between images */
.image-container img {
    margin: 0 50px;
}

/* Set contact form Width */
#message-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

/* Set registration form width */
#registration-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

/* Set login form width */
#login-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }