/* Set background image */
body {
    background-image: url(../images/AbstractBkgd.jpg);
    background-size: cover;
}

/* Centre the headings */
h1, h2, h3, h4, h5 {
    text-align: center;
}

/* Set up paragraph text*/
p {
    text-align: center;
    font-size: 16pt;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Keep images the same size*/
img {
    width: auto; 
    height: 200px; 
}

/* Center images horizontally */
.image-container {
    text-align: center;
}

/* Add space between images */
.image-container img {
    margin: 0 50px;
}